sheet_id: 1pLN46ZKWJIsidswMeoxhZwoacuFMR08sCaTFG6mLytc
tab_name: SOC 5
seatalk_webhook_url: https://openapi.seatalk.io/webhook/group/o3YbNxsGSdOxvzh_0kgd-A
capture_range: F1:S95
report_link: https://docs.google.com/spreadsheets/d/14tebbxdo4nDHnr4tiqFBhxXQPl0Fr1mDWehsr6t6Qz8/edit?usp=drivesdk
BOT_HOST=0.0.0.0
BOT_PORT=8080
BOT_INTERVAL_MINUTES=120
BOT_TIMEZONE=Asia/Manila
BOT_REQUEST_TIMEOUT_SECONDS=30
BOT_RUN_ON_STARTUP=false
BOT_PDF_DPI=400
BOT_IMAGE_BORDER_PX=20
BOT_IMAGE_RESIZE_WIDTH=2200
BOT_USE_ENV_PROXY=false
GOOGLE_SERVICE_ACCOUNT_FILE=google-service-account.json